.main-container {
    font-family: 'Roboto';
    padding: 3rem;
}

h2 {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

/* ------------------------- */

.content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
}

/* ------------------------- */

.topSites-Container {
    grid-column: 1/3;
    grid-row: 1/2;
}

.topSites {
    display: flex;
    gap: 1rem;
    height: 100%;
}

.weekly-Site {
    display: flex;
    gap: 1rem;
    flex: 1;
    background-color: rgb(43, 43, 43);
    padding: 1rem;
    border-radius: 15px;
    border: none;
    align-items: flex-end;
}

.monthly-Site {
    display: flex;
    gap: 1rem;
    flex: 1;
    background-color: rgb(37, 37, 37);
    padding: 1rem;
    border-radius: 15px;
    border: none;
    align-items: flex-end;
}

h3 {
    color: yellow;
    font-size: 1rem;
    margin: 0;
    text-align: start;
}

.monthly-Site p, .weekly-Site p {
    color: white;
    text-align: start;
    font-size: 1.8rem;
    margin: 0;
}

/* ------------------------- */

.reservas-Container {
    grid-column: 3/4;
    grid-row: 1/2;
}

.reservas {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding: 1rem;
    border-radius: 15px;
    gap: 1rem;
}





.ia {
    display: flex;
    grid-column: 1/4;
    grid-row: 2/3;
    gap: 1rem;
}

.iaItem {
    background-color: lightpink;
}