<aside>
    <div class="user-notification-section">
        <button class="user-section">
            <i class="bi bi-person-fill"></i>
            <p>irlepe</p>
        </button>
        <button class="notification-button"><i class="bi bi-bell-fill"></i></button>
    </div>


    <div class="logo-name-section">
        <h1>ReserVa</h1>
        <img id="logo" src="/images/Group 25.svg" alt="">
    </div>


    <ul class="sidebar-menu">
        <li><button><i class="bi bi-house-fill"></i><a routerLink="#">Inicio</a></button></li>
        <li><button><i class="bi bi-calendar-event-fill"></i><a routerLink="#">Reservas</a></button></li>
        <li><button><i class="bi bi-people-fill"></i><a routerLink="#">Grupos</a></button></li>
        <li><button><i class="bi bi-briefcase-fill"></i><a routerLink="#">Mis sitios</a></button></li>
    </ul>

    <div class="configurator-section">
        <button><i class="bi bi-gear-fill"></i> Configuraciones</button>
    </div>
</aside>