<header>
  <nav>

    <img id="logo" src="/images/Group 25.svg" alt="">
    <h1>ReserVa</h1>
    <a routerLink="">Inicio</a>
    <a routerLink="">Recursos</a>
    <a routerLink="">Reservas</a>
    <a routerLink="">Contacto</a>

    <div class="buttonsdiv">
      <button class="loginbutton" (click)="openLogin()">Iniciar sesión</button>
      <div *ngIf="user">
        {{ user.name }}
      </div>
    </div>

    <div class="modal-backdrop" *ngIf="showLogin">
      <app-auth></app-auth>
    </div>

  </nav>
</header>