.main-container {
    display: flex;
    background-color: var(--background-color-clear);
    min-height: 100dvh;
    margin-left: 250px
}

.dashboard-content {
    flex-grow: 1;
    background-color: var(--background-color-clear);
}