nav {
    font-family: 'Montserrat';
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 12vw;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

a {
    color: black;
    text-decoration: none;
}

.buttonsdiv {
    display: flex;
    margin-left: auto;
    gap: 1rem;
}

.loginbutton {
    font-weight: 500;
    color: white;
    background-color: var(--button-color);
    border: 0px;
    border-radius: 10px;
    padding: 0.5rem;
}

.userbutton {
    border-radius: 200px;
    border: 0px;
}