<div class="main-container">

  <div class="top-section">
    <h2>Mis grupos</h2>
    <button class="invitations-button" (click)="toggleInvitations()"><i class="bi bi-bell-fill"></i></button>
    <button routerLink="create">+ Crear grupo</button>
  </div>

  <div class="filter-section">
    <input class="search-input" type="text" placeholder="Buscar grupo..." [(ngModel)]="search"
      (input)="filtrarPorNombre()" />
    <div class="filter-button-container">
      <button class="filter-button" (click)="toggleFiltros()">Filtrar</button><app-group-filter *ngIf="mostrarFiltros"
        (cerrar)="mostrarFiltros = false" (filtroSeleccionado)="aplicarFiltro($event)">
      </app-group-filter>
    </div>
  </div>

  <div class="groups-section">

    <div class="groups" *ngFor="let group of groups" [routerLink]="['/dashboard/groups/edit', group.id]">
      <div class="icon">
        <i class="bi bi-people-fill"></i>
      </div>
      <div>
        <div class="name-with-badge">
          <h3>{{ group.name }}</h3>
          <i class="bi bi-crown-fill owner-badge" *ngIf="group.id_owner === user?.id" title="Eres el dueño"></i>
        </div>
        <p>{{ group.integrantes || 10 }} miembros</p>
      </div>
      <div class="groups-detail">></div>
    </div>

  </div>

  <app-invitations *ngIf="mostrarInvitaciones" (cerrar)="mostrarInvitaciones = false"></app-invitations>

</div>
