* {
    font-family: 'Manrope', 'Montserrat', sans-serif;
}

main {
    background-color: var(--background-color-clear);
}

#section1 {
    height: 70vh;
    background-image: url(/images/fondo1.png);
    background-size: cover;
    background-position: center;
}

#section1-blur {
    height: 100%;
    background-color: #00000080;
    align-content: center;
}

#section1-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#section1-text h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

#section1-text p {
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    text-align: center;
}

/* ------------------------- */

#section1-search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    max-width: 36rem;
    width: 100%;
    padding: 0.6rem 0.8rem;
    gap: 1rem;
}

#section1-search-bar i {
    flex-shrink: 0;
}

#section1-search-bar input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 400;
}

#section1-search-bar button {
    color: white;
    background-color: #0d6efd;
    border: 0;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    flex-shrink: 0;
}

/* ---------------------------- */

.section2 {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.section2 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin: 1.2rem;
}

.section2 p {
    color: rgb(76, 115, 154);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem;
}

.section2-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
}

.item {
    background-color: white;
    border-radius: 15px;
    padding: 1.5rem;
}

.item p {
    margin-bottom: 1rem;
}

.item-icon {
    display: block;
    font-size: 2.5rem;
    color: #0066cc;
    margin-bottom: 1rem;
    text-align: center;
}

.item-icon-large {
    display: block;
    font-size: 3rem;
    color: #0066cc;
    margin-bottom: 1rem;
    text-align: center;
}

.section3-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
}

.section3-container h3 {
    font-size: 1.5rem;
    text-align: center;
}