.panel {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1rem;
  z-index: 1000;
  overflow: hidden;

  background-color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.panel p {
  margin: 0;
  padding: 0;
}

.buttons-panel {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.panel button {
  font-size: 1rem;
  color: #333333;
  background-color: white;
  border: none;
  white-space: nowrap;
  width: 100%;
  text-align: start;
  padding: 0.5rem 0.5rem;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  border-radius: 15px;
}

.panel button:hover:not(.selected) {
  background-color: #f5f5f5;
}

.panel button.selected {
  color: var(--button-color);
  font-weight: 600; 
}

.panel div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-top: 1px solid #EEEEEE;
}

.panel div p {
  padding: 0.5rem;
}