.main-container {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-section {
    font-size: 2.5rem;
    font-weight: 600;
}

.new-reserva-button {
    color: white;
    background-color: var(--button-color);
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0;
}

/*---------*/ 

.view-historial-button {
    color: var(--button-color);
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
}

/* ------------- */

.reservas-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reserva-item {
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 0.7rem;
    gap: 1rem;
}

.reserva-img {
    height: 6rem;
    width: 7rem;
    border-radius: 10px;
}

.reservas-section h3 {
    margin: 0;
}

.reservas-section p {
    margin: 0;
}